.header-accueil {
  @include centrer-texte;
  height: 6.30rem;

  &__logo {  // Heading principal h1
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
}

.header-restaurant {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  height: 6.30rem;
  @include centrer-contenu-dans-grille;

  &__retour {
    font-size: 2rem;
    font-weight: 700;
    
    & > a {
      text-decoration: none;
      color: $couleur-texte-primaire;
    }
  }
  
  &__logo {  // Heading principal h1
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
}
