/* Largeur d'écran >= 280px (Mobiles) */
@media screen and (min-width: $galaxy-fold) {
  // 280px
  html {
    font-size: 45%;
  }
}

/* Largeur d'écran >= 320px */
@media screen and (min-width: $iphone-5-se) {
  // 320px
  html {
    font-size: 54%;
  }
}

/* Largeur d'écran >= 360px */
@media screen and (min-width: $galaxy-s5) {
  // 360px ; correspond à moto-g4
  html {
    font-size: 60%;
  }
}

/* Largeur d'écran >= 375px */
@media screen and (min-width: $iphone-6-7-8) {
  // 375px ; correspond à iphone-x
  html {
    font-size: 62%;
  }
}

/* Largeur d'écran >= 411px */
@media screen and (min-width: $pixel-2-xl) {
  // 411px
  html {
    font-size: 69%;
  }
}

/* Largeur d'écran >= 414px */
@media screen and (min-width: $iphone-6-7-8-plus) {
  // 414px
  html {
    font-size: 70%;
  }
}

/* Largeur d'écran >= 768px (Tablettes) */
@media screen and (min-width: $ipad) {
  // 768px
  html {
    font-size: 120%;
  }
}

/* Largeur d'écran >= 1024px */
@media screen and (min-width: $ipad-pro) {
  // 1024px
  html {
    font-size: 120%;
  }
}

/* Largeur d'écran >= 1280px (Laptops) */
@media screen and (min-width: $laptop) {
  // 1280px
  html {
    font-size: 75%;
  }

  // Gestion de la page d'accueil
  .fonctionnement {
    & > :nth-child(1) {
      // Heading
      text-align: center;
    }
  }

  .restaurants {
    @include cartes-restaurants;
  }
}

/* Largeur d'écran >= 1500px (Desktops) */
@media screen and (min-width: $desktop) {
  // >= 1500px
  html {
    font-size: 80%;
  }

  // Gestion de la page d'accueil
  .fonctionnement {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4fr 1fr;
    height: 25rem;
    width: 100%;
    margin: 0 auto;

    & > :nth-child(1) {
      /* Heading */
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      text-align: center;
    }

    & > :nth-child(2) {
      /* Etape 1 : Choisissez un restaurant */
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    & > :nth-child(3) {
      /* Etape 2 : Composez votre menu */
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    & > :nth-child(4) {
      /* Etape 3 : Dégustez au restaurant */
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }

  .restaurants {
    @include cartes-restaurants;
  }

  // Gestion des pages menu
  .body-restaurant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 45rem 1fr;
    // grid-auto-rows: auto;
    justify-content: center;
    align-items: flex-start;
    background-color: $couleur-fond-gris-pale;

    > :nth-child(1) {
      /* Header */
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    > :nth-child(2) {
      /* Titre de la page */
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    > :nth-child(3) {
      /* Section des entrées */
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      //  height: 20rem;
    }

    > :nth-child(4) {
      /* Section des plats */
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      // height: 20rem;
    }

    > :nth-child(5) {
      /* Section des desserts */
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      //  height: 20rem;
    }

    > :nth-child(6) {
      /* Bouton Commander */
      grid-column: 1 / 4;
      grid-row: 4 / 5;
    }

    > :nth-child(7) {
      /* Footer */
      grid-column: 1 / 4;
      grid-row: 5 / 6;
    }
  }

  .header-restaurant {
    background-color: $couleur-fond-blanc;
  }

  .restaurant {
    &__photo {
      height: 40rem;
    }

    &__conteneur {
      @include translate(0rem, -4.5rem);
      padding-top: 3.78rem;
      &__aligner {
        width: 97%;
      }
    }
  }

  .footer {
    margin-left: 1.5%;
  }
}
