.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 22.05rem;
  height: 5.08rem;
  border-radius: 3rem;
  background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
  color: $couleur-fond-blanc;
  font-size: 1.66rem;
  border: none;
  margin: 3rem 0;
  box-shadow: 5px 5px 10px $couleur-ombre-portee;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn:hover {
  background-image: linear-gradient(lighten($couleur-secondaire,5%),lighten($couleur-primaire,2%));
  box-shadow: 5px 5px 10px darken($couleur-ombre-portee,35%);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
