%coeur { // fas fa-heart font-awesome
  font-size: 2.5rem;
  color: $couleur-texte-blanc;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darken($couleur-icone, 20%);

  &:hover {
    background: linear-gradient(lighten($couleur-primaire, 5%), darken($couleur-secondaire, 20%));
    -webkit-background-clip: text;
    // couleur transparente
    color: rgba(0,0,0,.2);
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
  }
}

%ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
