$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-blanc: #FFF;
$couleur-fond-gris-fonce: #EAEAEA;
$couleur-bordure-gris-fonce: #CFCFCF;
$couleur-fond-gris-pale: #F6F6F6;
$couleur-fond-footer: #353535;
$couleur-ombre-portee: #E8E8E8;
$couleur-icone: #7E7E7E;
$couleur-survol-bouton-fonction: #F5EDFF;
$couleur-texte-nouveau: #008766;
$couleur-texte-primaire: #000;
$couleur-texte-footer: #fff;
$couleur-texte-blanc: #FFF;
