$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$couleur_fond_primaire: #FFF;
$couleur_fond_secondaire: #EAEAEA;
$couleur_fond_tertiaire: #F6F6F6;
$couleur_fond_footer: #353535;
$couleur_ombre_portee: #E8E8E8;
$couleur_base_icone: #7E7E7E;
$couleur_fond_bouton_degustez: #F5EDFF;
$couleur_texte_nouveau: #008766;
$couleur_texte_primaire: #000;
$couleur_texte_seconaire: #fff;
