$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-primaire: #FFF;
$couleur-fond-secondaire: #EAEAEA;
$couleur-fond-tertiaire: #F6F6F6;
$couleur-fond-footer: #353535;
$couleur-ombre-portee: #E8E8E8;
$couleur-base-icone: #7E7E7E;
$couleur-fond_bouton-degustez: #F5EDFF;
$couleur-texte-nouveau: #008766;
$couleur-texte-primaire: #000;
$couleur-texte-seconaire: #fff;
