@charset "UTF-8";
/* diminuer la taille du rem */
/* augmenter la taille du rem */
/* changer la disposition des blocs */
/* Media Queries */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.restaurant__conteneur__aligner__coeur, .restaurants .carte__coeur {
  font-size: 2.5rem;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4b4b4b;
}
.restaurant__conteneur__aligner__coeur:hover, .restaurants .carte__coeur:hover {
  background: linear-gradient(#a16be0, #ff13be);
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  transition-duration: 1.5s;
}

.entree__wrapper__byline, .plat__wrapper__byline, .dessert__wrapper__byline, .entree__wrapper__heading, .plat__wrapper__heading, .dessert__wrapper__heading, .entree__wrapper, .plat__wrapper, .dessert__wrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.body-accueil {
  display: grid;
  grid-template-columns: 1fr;
}

.tempo {
  position: fixed;
  visibility: hidden;
  background-color: #F6F6F2;
  opacity: 1;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  font-family: Roboto, sans-serif;
  font-size: 4rem;
  color: #9356DC;
  text-shadow: 2px 2px 5px #CFCFCF;
  text-align: center;
  line-height: 100vh;
  /* line-height=height permet de centrer le texte à la verticale à l'intérieur de son parent */
  animation-name: temporiseur;
  animation-duration: 2s;
}
.tempo__loader {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.tempo__loading-spinner {
  border-radius: 5rem;
  border: 0.6rem solid rgba(255, 255, 255, 0);
  /* transparent */
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  -webkit-animation: spin 1s linear 10;
  animation: spin 1s linear 10;
}
.tempo__loading-spinner::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 5rem;
  border: 0.6rem solid rgba(255, 255, 255, 0);
  /* transparent */
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  opacity: 0.6;
  -webkit-animation: spin-reverse 3s linear 10;
  animation: spin-reverse 3s linear 10;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes temporiseur {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.header-accueil__logo {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.rechercher-restaurants {
  display: grid;
  height: 33.7rem;
  grid-template-columns: 1fr;
  grid-template-rows: 4.88rem 0.8fr 0.5fr 1.2fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F2;
}
.rechercher-restaurants__localite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.88rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  background-image: linear-gradient(#CFCFCF, #EAEAEA 8%);
}
.rechercher-restaurants__localite__icone {
  margin-right: 1.73rem;
}
.rechercher-restaurants__heading {
  font-size: 2.38rem;
  font-weight: 900;
}
.rechercher-restaurants .break-optionally {
  display: block;
}
.rechercher-restaurants__byline {
  font-size: 1.89rem;
}

.fonctionnement {
  display: grid;
  height: 43.98rem;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 0.5fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.fonctionnement__heading {
  width: 35rem;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 900;
}
.fonctionnement__etape {
  width: 32.48rem;
  height: 7.45rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 2rem;
  background-color: #F6F6F2;
  box-shadow: 6px 6px 8px #E8E8E8;
}
.fonctionnement__etape:hover {
  background-color: #F5EDFF;
  box-shadow: 6px 6px 10px #d6d6d6;
}
.fonctionnement__etape:hover i {
  color: #9356DC;
}
.fonctionnement__etape__choisir-cercle {
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-1.2rem, 0);
  -webkit-transform: translate(-1.2rem, 0);
  -moz-transform: translate(-1.2rem, 0);
  -ms-transform: translate(-1.2rem, 0);
  -o-transform: translate(-1.2rem, 0);
}
.fonctionnement__etape__choisir-icone-mobile {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #7E7E7E;
}
.fonctionnement__etape__choisir-texte {
  font-size: 1.5rem;
  font-weight: 700;
}
.fonctionnement__etape__composer-cercle {
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-1.2rem, 0);
  -webkit-transform: translate(-1.2rem, 0);
  -moz-transform: translate(-1.2rem, 0);
  -ms-transform: translate(-1.2rem, 0);
  -o-transform: translate(-1.2rem, 0);
}
.fonctionnement__etape__composer-icone-liste {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #7E7E7E;
}
.fonctionnement__etape__composer-texte {
  font-size: 1.5rem;
  font-weight: 700;
}
.fonctionnement__etape__deguster-cercle {
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-1.2rem, 0);
  -webkit-transform: translate(-1.2rem, 0);
  -moz-transform: translate(-1.2rem, 0);
  -ms-transform: translate(-1.2rem, 0);
  -o-transform: translate(-1.2rem, 0);
}
.fonctionnement__etape__deguster-icone-store {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #7E7E7E;
}
.fonctionnement__etape__deguster-texte {
  font-size: 1.5rem;
  font-weight: 700;
}

.restaurants {
  display: grid;
  height: 122.61rem;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F2;
  padding-bottom: 4rem;
}
.restaurants__heading {
  width: 34rem;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 900;
}
.restaurants .carte {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  background-color: #FFF;
  border-radius: 1.5rem;
  padding-bottom: 2rem;
  box-shadow: 6px 6px 8px #E8E8E8;
}
.restaurants .carte:hover {
  box-shadow: 6px 6px 20px 4px #d6d6d6;
}
.restaurants .carte__photo img {
  width: 34rem;
  height: 18rem;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-bottom: 1.5rem;
}
.restaurants .carte__photo .img-la-palette {
  /* object-position prend pour paramètre respectivement left et top */
  object-position: 0rem -4.75rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.restaurants .carte__photo .img-la-note {
  /* object-position prend pour paramètre respectivement left et top */
  object-position: 0rem -15rem;
}
.restaurants .carte__photo .img-la-francaise {
  /* object-position prend pour paramètre respectivement left et top */
  object-position: 0rem -4.5rem;
}
.restaurants .carte__photo .img-le-delice {
  /* object-position prend pour paramètre respectivement left et top */
  object-position: 0rem -5.4rem;
}
.restaurants .carte__photo__new {
  position: absolute;
  top: 1.8rem;
  left: 24.29rem;
  width: 8.16rem;
  height: 2.96rem;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #008766;
  border-radius: 0.3rem;
}
.restaurants .carte__titre {
  font-size: 1.9rem;
  font-weight: 700;
  text-align: left;
  margin-left: 1.4rem;
  line-height: 1.5;
}
.restaurants .carte__lieu {
  font-size: 1.6rem;
  text-align: left;
  margin-left: 1.4rem;
}
.restaurants .carte__coeur {
  position: absolute;
  top: 19.67rem;
  left: 28.77rem;
}

.restaurant {
  height: 30.6rem;
  background-color: #F6F6F2;
}
.restaurant__photo {
  width: 100%;
  height: 27.23rem;
  object-fit: cover;
}
.restaurant__conteneur {
  background-color: #F6F6F2;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  transform: translate(0, -5.5rem);
  -webkit-transform: translate(0, -5.5rem);
  -moz-transform: translate(0, -5.5rem);
  -ms-transform: translate(0, -5.5rem);
  -o-transform: translate(0, -5.5rem);
  padding-top: 3.78rem;
  margin: 0 auto;
  width: 100%;
}
.restaurant__conteneur__aligner {
  display: grid;
  grid-template-columns: 1fr 5%;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 0 auto;
  width: 92%;
}
.restaurant__conteneur__aligner__titre {
  font-size: 2.9rem;
  font-family: "Shrikhand", cursive;
  justify-self: flex-start;
}
.restaurant__conteneur__aligner__coeur {
  justify-self: flex-end;
  padding-right: 2rem;
}

/********************************************************/
.entrees, .plats, .desserts {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F2;
  padding-bottom: 3.5rem;
}
.entrees__conteneur, .plats__conteneur, .desserts__conteneur {
  width: 92%;
}
.entrees__conteneur__heading, .plats__conteneur__heading, .desserts__conteneur__heading {
  font-size: 1.67rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}
.entrees__conteneur__barre, .plats__conteneur__barre, .desserts__conteneur__barre {
  border-top: 0.32rem solid #99E2D0;
  width: 4.2rem;
}

.entree, .plat, .dessert {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  height: 6.82rem;
  width: 92%;
  background-color: #FFF;
  box-shadow: 4px 4px 10px #E8E8E8;
  overflow: hidden;
  position: relative;
  visibility: hidden;
}
.entree:hover, .plat:hover, .dessert:hover {
  box-shadow: 4px 4px 15px #c2c2c2;
}
.entree:hover .entree__icone, .entree:hover .plat__icone, .entree:hover .dessert__icone, .plat:hover .entree__icone, .plat:hover .plat__icone, .plat:hover .dessert__icone, .dessert:hover .entree__icone, .dessert:hover .plat__icone, .dessert:hover .dessert__icone {
  margin: 0rem;
  transition-duration: 0.5s;
}
.entree:hover .entree__icone > i, .entree:hover .plat__icone > i, .entree:hover .dessert__icone > i, .plat:hover .entree__icone > i, .plat:hover .plat__icone > i, .plat:hover .dessert__icone > i, .dessert:hover .entree__icone > i, .dessert:hover .plat__icone > i, .dessert:hover .dessert__icone > i {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition-duration: 0.7s;
}
.entree__wrapper, .plat__wrapper, .dessert__wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.entree__wrapper__heading, .plat__wrapper__heading, .dessert__wrapper__heading {
  font-size: 1.85rem;
  text-align: left;
  margin-left: 1rem;
}
.entree__wrapper__byline, .plat__wrapper__byline, .dessert__wrapper__byline {
  font-size: 1.66rem;
  text-align: left;
  margin-left: 1rem;
}
.entree__prix, .plat__prix, .dessert__prix {
  display: flex;
  height: 100%;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5;
  padding: 0 2rem;
}
.entree__icone, .plat__icone, .dessert__icone {
  display: flex;
  height: 100%;
  padding: 0 2rem;
  align-items: center;
  font-size: 2.04rem;
  color: #FFF;
  background-color: #99E2D0;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  margin-right: -6.5rem;
}
.entree__icone > i, .plat__icone > i, .dessert__icone > i {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.anim-1 {
  animation-name: anim;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.anim-2 {
  animation-name: anim;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

.anim-3 {
  animation-name: anim;
  animation-duration: 900ms;
  animation-timing-function: linear;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}

.anim-4 {
  animation-name: anim;
  animation-duration: 1200ms;
  animation-timing-function: linear;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}

@keyframes anim {
  0% {
    visibility: hidden;
    top: 1rem;
    opacity: 0;
  }
  100% {
    visibility: visible;
    top: 0rem;
    opacity: 1;
  }
}
.commander {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  background-color: #F6F6F2;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 22.05rem;
  height: 5.08rem;
  border-radius: 3rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  font-size: 1.66rem;
  border: none;
  margin: 3rem 0;
  box-shadow: 5px 5px 10px #E8E8E8;
}

.btn:hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px 10px #a8a8a8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}

.header-accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.3rem;
}
.header-accueil__logo {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.header-restaurant {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  height: 6.3rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.header-restaurant__retour {
  font-size: 2rem;
  font-weight: 700;
}
.header-restaurant__retour > a {
  text-decoration: none;
  color: #000;
}
.header-restaurant__logo {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  height: 19.79rem;
  background-color: #353535;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 13.43rem;
  width: 34rem;
  font-size: 1.7rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer__proposer {
  display: flex;
  gap: 1.6rem;
  -webkit-gap: 1.6rem;
  -ms-gap: 1.6rem;
}
.footer__partenaire {
  display: flex;
  gap: 1rem;
  -webkit-gap: 1rem;
  -ms-gap: 1rem;
}
.footer__contact {
  text-decoration: none;
  color: #FFF;
}

/* Largeur d'écran >= 280px (Mobiles) */
@media screen and (min-width: 280px) {
  html {
    font-size: 45%;
  }
}
/* Largeur d'écran >= 320px */
@media screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }
}
/* Largeur d'écran >= 360px */
@media screen and (min-width: 360px) {
  html {
    font-size: 55%;
  }
}
/* Largeur d'écran >= 375px */
@media screen and (min-width: 375px) {
  html {
    font-size: 60%;
  }
}
/* Largeur d'écran >= 768px (Tablettes) */
@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
  }
}
/* Largeur d'écran >= 1024px */
@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}
/* Largeur d'écran >= 1280px (Laptops) */
@media screen and (min-width: 1280px) {
  html {
    font-size: 75%;
  }

  .fonctionnement > :nth-child(1) {
    text-align: center;
  }

  .restaurants {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr repeat(2, 1fr);
    height: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 10rem;
  }
  .restaurants > :nth-child(1) {
    /* Heading */
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
  }
  .restaurants > :nth-child(2) {
    /* Carte 1 : La palette du goût */
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .restaurants > :nth-child(3) {
    /* Carte 2 : La note enchantée */
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .restaurants > :nth-child(4) {
    /* Carte 3 : À la française */
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .restaurants > :nth-child(5) {
    /* Carte 4 : Le délice des sens */
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
/* Largeur d'écran >= 1500px (Desktops) */
@media screen and (min-width: 1500px) {
  html {
    font-size: 80%;
  }

  .fonctionnement {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 25rem;
    width: 100%;
    margin: 0 auto;
  }
  .fonctionnement > :nth-child(1) {
    /* Heading */
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
  }
  .fonctionnement > :nth-child(2) {
    /* Etape 1 : Choisissez un restaurant */
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .fonctionnement > :nth-child(3) {
    /* Etape 2 : Composez votre menu */
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .fonctionnement > :nth-child(4) {
    /* Etape 3 : Dégustez au restaurant */
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .restaurants {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr repeat(2, 1fr);
    height: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 10rem;
  }
  .restaurants > :nth-child(1) {
    /* Heading */
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
  }
  .restaurants > :nth-child(2) {
    /* Carte 1 : La palette du goût */
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .restaurants > :nth-child(3) {
    /* Carte 2 : La note enchantée */
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .restaurants > :nth-child(4) {
    /* Carte 3 : À la française */
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .restaurants > :nth-child(5) {
    /* Carte 4 : Le délice des sens */
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .body-restaurant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: flex-start;
    background-color: #F6F6F2;
  }
  .body-restaurant > :nth-child(1) {
    /* Header */
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .body-restaurant > :nth-child(2) {
    /* Titre de la page */
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .body-restaurant > :nth-child(3) {
    /* Section des entrées */
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .body-restaurant > :nth-child(4) {
    /* Section des plats */
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .body-restaurant > :nth-child(5) {
    /* Section des desserts */
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .body-restaurant > :nth-child(6) {
    /* Bouton Commander */
    grid-column: 1/4;
    grid-row: 4/5;
  }
  .body-restaurant > :nth-child(7) {
    /* Footer */
    grid-column: 1/4;
    grid-row: 5/6;
  }

  .header-restaurant {
    background-color: #FFF;
  }

  .restaurant__conteneur__aligner {
    width: 97%;
  }
}

/*# sourceMappingURL=style.css.map */
